{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey | trans(error.messagedata, 'security') }}
    </div>
{% endif %}
 <form action="{{ path('auth.login') }}" method="POST">
    <label for="_username">Email</label>
    <input name="_username" type="email" >
    <label for="_password">Mot de passe</label>
    <input name="_password" type="password" >
    <button type="submit">Connexion</button>
</form>
{% endblock %}
